<div id="<%= dom_id park %>">
  <p>
    <strong>公園名:</strong>
    <%= park.name %>
  </p>

  <p>
    <strong>説明欄:</strong>
    <%= park.description %>
  </p>

  <p>
    <strong>住所:</strong>
    <%= park.address %>
  </p>

  <p>
    <%= park.image %>
  </p>

</div>
